<div class="container">
  <div class="card mt-5">
    <div class="card-body text-center">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2 class="card-title mb-2">Login</h2>
        </li>
        <li class="list-group-item mt-3">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group clearfix">
              <label for="userId" class="me-5 mb-1">Nombre de Usuario:</label>
              <input
                class="form-control"
                formControlName="userId"
                type="text"
                id="userId"
              />
            </div>
            <div class="form-group clearfix">
              <label for="password" class="me-5 mt-2 mb-1">Contraseña:</label>
              <input
                class="form-control"
                formControlName="password"
                type="password"
                id="password"
              />
            </div>
          </form>
          <button class="btn btn-primary mt-4" (click)="onSubmit()">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
