<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="/">
          Informacion General
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" href="/#"> Subir Reportes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="true" href="/#"> Hacer Estimacion</a>
      </li>
    </ul>
  </div>
  <div class="card-body">Cuerpo dependiendo de la ventana</div>
</div>
